<main>
  <img
    src="../../assets/img/background-login.jpg"
    alt="fondo"
    class="background-login"
  />
  <section class="container">
    <div class="logo">
      <img
        src="../../assets/icons/abstract-shape.png"
        alt="logo"
        width="30px"
      />
      <h3>a<span>NOTA</span>te</h3>
    </div>

    <section class="content">
    <div>
    </div>
      <div id="img-login">
        <img src="../../assets/img/animation-login2.gif" alt="imagen animada" />
      </div>
      <div id="form-login">
        <h1>Log In</h1>

        <form action="">
          <!-- Email -->
          <div class="component-email">
            <div>
              <img src="../../assets/icons/user.png" alt="icon email" />
              <label for="email">Email</label>
            </div>
            <input type="text" name="email" id="email" autofocus />
          </div>
          <!-- Password -->
          <div class="component-password">
            <div>
              <img src="../../assets/icons/password.png" alt="icon password" />
              <label for="password">Passwords</label>
            </div>
            <input type="text" name="password" id="password" />
          </div>

          <p id="register">You aren't <a href="">registered</a>?</p>

          <button class="button-login">Login</button>
        </form>
      </div>
    </section>
        <p style="font-size: 14px;">Desarrollado con &#x2764; por <span>PantheraHub.</span></p>
  </section>
</main>
